//--
  - It contains template for default layout.
  -/

v-app
  v-app-bar(
    color = "primary lighten-3"
    flat app 
  )
    v-app-bar-title
      v-img.justify-left(
        ref    = "image_logo"
        src    = "@/assets/logo.svg"
        height = "42"
        width  = "50"
        contain
      )
    span.subtitle-1 {{ $CONSTANTS.LABELS.WEB_WORKER_HEADER }}
  v-main
    slot